{% extends "dashboard.html" %}

{% block title %}Help Center {% endblock %}

{% block content %}
<div class="container">
    <h2>Help Center</h2>
    <div class="search-bar">
        <input type="text" placeholder="Search for Help">
        <button>Search</button>
    </div>
    <section class="faq">
        <h3>Frequently Asked Questions</h3>
        <div class="faq">
            <h4>How to Reset my Password?</h4>
            <p>To reset your password, go to login page and click "Forget password"</p>
        </div>
        <div class="faq">
            <h5>How can I contact Support?</h5>
            <p>You can contat support by emailing as eMusic_App@gmail.com </p>
        </div>
        <div class="faq">
            <h6>How can I change my profile picture?</h6>
            <p>You can change your profile picture in settings.</p>
        </div>
    </section>
    <section class="Contact">
        <h3>Contact Us</h3>
        <p>If you need further assistance, Please reach out to us</p>
        <ul>
            <li>Email: deepthisree3144@gmail.com</li>
            <li>Phone : +91 7670820243</li>
            <li>Address :28-24/2,Balaji nagar,Tirupathi </li>
        </ul>
    </section>
</div>
{% endblock %}